<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="ISO-8859-1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>On-line Pharmacy</title>
</head>
<body>
	<head>
	  <!-- As a link -->
	  <nav class="navbar navbar-light bg-light">
  	    <div class="container-fluid">
   	      <a class="navbar-brand" href="#">On-line Pharmacy</a>
  	    </div>
	  </nav>
	</head>
	
	<section>
	  <div class="container">
	  	<br>
	  	<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="/stocks">Stocks</a></li>
           <li class="breadcrumb-item active" aria-current="page">Create Stock</li>
          </ol>
        </nav><br>
        
        <h3>CREATE STOCK</h3><br>
        
        <div>
        	<form method="post">
        		<div class="form-group">
        			<input type="text" class="form-control" name="nome" placeholder="Nome *">
        		</div><br>
        		
        		<button type="submit" class="btn btn-success" style="margin-top: 10px;">Save</button>
        		<a href="/stocks" class="btn btn-outline-danger" role="button" style="margin-top: 10px;">Cancel</a>
        		
        	</form>
        </div>
	</section>
</body>
</html>